extends layout

block content
  h1.masthead Tyler Hughes
  .main-links
    a(href="//github.com/tylerlh" title="Fork my code on Github") code
    a(href="//soundcloud.com/pitchblacktheory" title="Listen to my tunes on Soundcloud") music
    a(href="//blog.tylerhugh.es" title="Read my rants & raves") blog